*{
  margin: 0px;
  padding: 0px;
}
.wrapper{
  background-color: black;
}
.header{
  background-color: #e6e6e6;
}
.header_name{
  display: inline-block;
  margin-left: 10px;
}
#header_dashboard{
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
#profile_pic{
  border-style: solid;
  border-width: 3px;
}
#picture_summary{
  text-align: center;
  padding-top: 20%;
  padding-bottom: 20%;
  padding-left: 20%;
  padding-right: 20%;
  background: radial-gradient(#7fc8ff, #0092ff);
  color: black;
}
#picture_summary h1{
  font-size: 50px;
  margin-top: 50px;
}
#picture_summary img{
  width: 100%;
  height: 100%;
}
#text_summary{
  text-align: center;
  padding: 10px;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: radial-gradient(#ffc17f, #ff8300);
  color: black;
}
#text_summary button{
  height: 32px;
  width: 100px;
  font-weight: bold;
}
#text_summary h1{
  margin-top: 0px;
}
#projects_summary{
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 20%;
  padding-left: 20%;
  color: black;
  text-align: center;
  background: radial-gradient(#9975b9, #663096);
}
#projects_summary div{
  margin-left: auto;
  margin-right: auto;
}
#projects_summary h1{
  text-decoration: underline;
}
#contact_info{
  padding: 100px;
  text-align: center;
  background: radial-gradient(#ffef99, #ffd700);
  color: black;
}
#contact_info h1{
  margin-top: 0px;
}
.btn{
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}
